useDynLib(FeistyR, .registration = TRUE)
importFrom("grDevices", "dev.off", "pdf")
importFrom("graphics", "axis", "box", "image", "legend", "lines",
             "mtext", "par", "points", "polygon")
importFrom("stats", "na.omit", "simulate")
importFrom("pracma", "erf", "size","linspace")
importFrom("latex2exp", "TeX")
import(deSolve)
import(shiny)
import(shinyjs)

export(setupPelagicSpecies, setupVertical, setupVertical2, setupBasic, setupBasic2)
export(simulateFeisty, derivativesFeistyR)
export(paramInit, paramAddResource, paramAddGroup, paramAddPhysiology)
export(plotSSBtime, plotRates, plotSpectra, plotSimulation, plotNetwork)

export(webFeisty)
